.card-image-container {
    position: relative;
    overflow: hidden;
  }
  
  .card-image-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
    transition: transform 0.3s ease;
    z-index: 1;
  }
  
  .card-image-container:hover::before {
    transform: scale(1.1);
  }
  




  /* custom.css */
 
  
  .card-hover-effect:hover {
    transform: scale(1); /* Increased size on hover (zoom-in effect) */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }
  
  .custom-card {
    border: none ;
  }
  

