
.navbar_2{
 
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: white;
  overflow: hidden;
 
}
#logo-image {

    width: 9vw;
    height: auto;

  }


  #logo-image2 {

    width: 220px;
   
    margin-right: 4vw;
  }
.search_input{
  height: 50px;
}

.search_icon{
  height: 30px;
  
}

.my_search{

  padding-top: 7px;
}
  .shoping_cart{
    font-size: 50px;
  }

  
  @media (min-width: 1200px) and (max-width: 1400px) {

    #logo-image2 {

      width: 200px;
     margin-right: 4vw;
    
    }

    .shoping_cart{
      font-size: 35px;
    }
    
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    #logo-image2 {

      width: 150px;
     margin-right: 4vw;
    
    }

    .shoping_cart{
      font-size: 30px;
    }

  }

  @media (min-width: 768px) and (max-width: 991px) {
    #logo-image2 {

      width: 120px;
     margin-right: 4vw;
    
    }

    .shoping_cart{
      font-size: 35px;
    }

  }
  @media (min-width: 576px) and (max-width: 768px) {
    #logo-image2 {

      width: 110px;
      
     margin-right: 2vw;
    
    }


    .shoping_cart{
      font-size: 25px;
    }

    


    
  }
  @media (min-width: 320px) and (max-width: 575px) {


    #logo-image {

      width: 90px;
      
    
    
    }
    #logo-image2 {
padding-top: 5px;
padding-bottom: 5px;
    width: 120px;
      
     margin-right: 10vw;
    
    }


    .shoping_cart{
      font-size: 30px;
      margin-left: 10vw;

    }

    .search_input{
      width: 150px;
    }
}



