#logo-image {

    width: 5vw;

    
  }
  #logo-image2 {

    width: 5vw;

    
  }
  #button_app{

    width: 13vw;
  }
  .navbar-link-custom {
    font-size: 3vw;
    padding: 0px !important;
    
  }
  .cart-icon {
    color: black;
    padding: 0px !important;
  }
.cart-count{
  color: black;
  font-size: 1.3vw;
}  
  
 
.navbar2 {
  background-color: white !important;
  position: sticky;
  top: 0;
  z-index: 999;
 
}

@media (min-width: 320px) and (max-width: 576px) {
  #logo-image{
    display: none;
  }
  .navbar2 {
    background-color: white !important;
    position: sticky;
    top: 0;
    z-index: 999;
   
    padding: 0px !important;
    justify-content: space-between !important;
   
   
   
    padding: 0;
    left: 0;
    right: 0;
    width: 100%;
  }
  .search{
    margin-left: -2vw;
  }
 
  #button_app{
    width: 24vw;
  }
  .navbar-brand{
    margin: 0px !important;
  }
  
}

